body {}

#header-nav {
	background-color: lightgrey;
}

#header-nav a {
	text-decoration: none;
}

#header-nav a:hover,
#header-nav a:active {
	text-decoration: none;
}

#maintitle {
	color: black;
}

/* end of header */

#sentence-row {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}

div.justify-content-center {
	margin-bottom: 20px;
}

div.justify-content-center > div {
	/* button columns */
	display: flex;
	justify-content: center;
	align-items: center;

	/* position: relative; */
}

/* i {
	position: absolute;
	left: 30px;
}

i.green-tick {
	color: green;
}

i.red-cross {
	color: rgb(190, 44, 44);
} */


.option {
	display: flex;
	flex: 1;
	margin: 0;
	font-size: 18px;

	justify-content: center;
	align-items: center;
	height: 55px;
	width: 330px;

	background-color: white;
	border: 3px solid rgb(195, 195, 195);
}

.option-enabled:hover {
	border: 3px solid rgb(84, 84, 84);
}

.greenBorder {
	border-color: green;
	color: green;
	font-weight: bold;
}

.redBorder {
	border-color: rgb(190, 44, 44);
	color: rgb(190, 44, 44);
	font-weight: bold;
}

#instruction {
	font-style: italic;
}

#instruction > span {
	text-decoration: underline;
}