/* body {} */

#maintitle {
	color: rgb(255, 255, 255);
}

/* end of header */

/* #left-col .collapse {
	--bs-transition-duration: 0.05s !important;
} */

i.fa-circle-check, i.fa-circle-xmark {
	position: absolute;
	right: 25px;
}

i.green-tick {color: green;}

i.red-cross {color: rgb(190, 44, 44);} 

.option {
	position: relative;
	height: auto;
	width: 100%;
	padding: 12px 13%;
	font-size: 18px;
	background-color: white;
	border: 3px solid rgb(195, 195, 195);

	display: flex;
	align-items: center;
	justify-content: center;
}

.option-enabled-border:hover {
	border: 3px solid rgb(84, 84, 84);
}

.greenBorder {
	border-color: green;
	color: green;
	font-weight: bold;
}

.redBorder {
	border-color: rgb(190, 44, 44);
	color: rgb(190, 44, 44);
	font-weight: bold;
}