* {box-sizing: border-box;}

h1 {font-weight: bold;}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#testword {
    text-decoration: underline;
    font-weight: bold;
}

.op {
    display: inline-block;
    background-color: white;
    width: 120px;
    height: 35px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 20px 0px 20px;
}

.op:hover, .op:active {
    background-color: rgb(205, 205, 205);
    cursor: pointer;
}

.ops, .qn {
    text-align: center;
    font-size: 120%;
    margin: 30px;
}